<mat-nav-list class="mx-4">
  <div class="">
    <div class="">
      <!-- <h2>(I-WAQ)</h2> -->
      <div class="text-inherit text-gray-500 py-2 mx-1 my-4">Water Quality in Selected Districts in Uganda</div>
      <!-- <div class="text-gray-500 text-xs px-2 py-2">
        The objective of this research was to ascertain the extent of contamination in various water sources in the selected districts, thereafter develop an IoT solution to monitor water quality. Water samples were drawn from protected springs, shallow wells, taps, and boreholes and immediately transported on ice to the laboratory for analysis.
Water samples were collected from sixteen districts from central, eastern, western and northern Uganda. 
      </div> -->
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- <h2 matSubheader>KPIs</h2> -->
    <div>
        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/map-distributions" (click)="goTo('map-distributions')">Map Distributions</a>

        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/econductivity" (click)="goTo('conductivity')">Electrical Conductivity</a>

        <a mat-list-item 
            routerLinkActive="list-item-active"
            routerLink="/ph" (click)="goTo('ph')">pH</a>

        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/tupidity" (click)="goTo('tupidity')">Turbidity</a>

        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/total-alkalinity" (click)="goTo('total-alkalinity')">Total Alkalinity</a>

        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/total-hardness" (click)="goTo('total-hardness')">Total Hardness</a>

        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/nitrites" (click)="goTo('nitrites')">Nitrites</a>

        <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/sulphates" (click)="goTo('sulphates')">Sulphates</a>

        <!-- <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/ammonium" (click)="goTo('ammonium')">Ammonium</a> -->

        <!-- <a mat-list-item 
            routerLinkActive="list-item-active" 
            routerLink="/chloride" (click)="goTo('chloride')">Chloride</a> -->

        <!-- <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/phosphates" (click)="goTo('phosphates')">Phosphates</a> -->

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/nitrates" (click)="goTo('nitrates')">Nitrates</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/sodium" (click)="goTo('sodium')">Sodium</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/potassium" (click)="goTo('potassium')">Potassium</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/iron" (click)="goTo('iron')">Iron</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/free-chloride" (click)="goTo('free-chloride')">Free Chlorine</a>
        
        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/color" (click)="goTo('color')">Colour</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/dissolved-solids" (click)="goTo('dissolved-solids')">Total dissolved solids</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/bicarbonates" (click)="goTo('bicarbonates')">Bicarbonates</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/magnesium-hardness" (click)="goTo('magnesium-hardness')">Magnesium Hardnes</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/total-chlorine" (click)="goTo('total-chlorine')">Total Chlorine</a>

        <!-- <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')"></a> -->

        <!-- <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Dissolved Oxygen</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Calcium</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Magnesium</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Silica</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Mercury</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Lead</a>

            <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Manganese</a>

        <a mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/articles" (click)="goTo('total-alkalinity')">Total Iron</a> -->
    </div>

  <mat-divider></mat-divider>
</mat-nav-list>
