
<div class="container mx-auto px-4 text-gray-700">
    <h1 class="text-3xl font-thin my-4">Water Quality in Selected Districts in Uganda (I-WAQ)</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

        <div class="border p-4 rounded shadow">
            <h2 class="text-xl font-thin mb-2">Description</h2>
            <p class="text-base">
                The objective of this research was to ascertain the extent of contamination in various water sources in the selected districts, thereafter develop an IoT solution to monitor water quality. Water samples were drawn from protected springs, shallow wells, taps, and boreholes and immediately transported on ice to the laboratory for analysis.
Water samples were collected from sixteen districts from central, eastern, western and northern Uganda.
            </p>
        </div>

        <div class="border p-4 rounded shadow">
            <h2 class="text-xl font-thin mb-2">Districts Visited</h2>
            <p class="text-base">Water samples were collected from sixteen districts from central, eastern, western and northern Uganda.</p>
        </div>

        <div class="border p-4 rounded shadow">
            <h2 class="text-xl font-thin mb-2">Data Points Collected</h2>
            <p class="text-base font-bold">
                Electrical Conductivity,
                pH,
                Turbidity,
                Total Alkalinity,
                Total Hardness,
                Nitrites,
                Sulphates,
                Nitrates,
                Sodium,
                Potassium,
                Iron,
                Free Chlorine,
                Total dissolved solids,
                Magnesium Hardnes,
                Total Chlorine</p>
        </div>
        
    </div>
</div>